body{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Nautilus';
    src:  url('../fonts/Nautilus.otf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Medium';
    src:  url('../fonts/Poppins-Medium.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LibreBaskerville-Regular';
    src:  url('../fonts/LibreBaskerville-Regular.otf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src:  url('../fonts/Poppins-SemiBold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LibreBaskerville-Bold';
    src:  url('../fonts/LibreBaskerville-Bold.otf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Regular';
    src:  url('../fonts/Poppins-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sacramento-Regular';
    src:  url('../fonts/Sacramento-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

.top-menu {
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    padding: 12px 0;
    z-index: 9999;
}
.general-container {
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    padding: 0 15px;
    max-width: 1140px;
    /*border: solid 1px red;*/
}
.logo_col-a  {
    font-family: 'Nautilus';
    font-size: 35px;
    text-decoration: none;
    position: relative;
}
.logo_col-a {
    color: #fc5f45;
}
.logo_col-b {
    color: #272727;
}
.logo_col-a:hover .logo_col-b{
    color: #ffffff;
}
.logo_col-a:hover {
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    transition: all .5s;
}
.fancyNav {
    font-family: 'Poppins-Medium';
    position: relative;
    float: right;
    font-size: 14px;
}
nav ul li {
    display:inline-block;
}
.top-menu ul li {
    list-style-type: none;
    letter-spacing: 0.2px;
    padding: 0 10px;
}
.top-menu ul li a {
    color: #272727;
    text-decoration: none;
    font-size: 14px;
}
.top-menu ul li a:hover {
    color: #ffffff;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    transition: .5s;
}
.open-close-menu {
    display: none;
}
.scroll {
    background-color: rgba(46, 9, 83, 0.94);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

/*----------------------home------------------------------------*/
.home {
    width: 100%;
    background-color: #272727;
}
.home_txt {
    font-family: 'LibreBaskerville-Regular';
    font-size: 60px;
    padding-top: 170px;
    color: #ffffff;
    text-align: center;
}
.home_button {
    font-family: 'Poppins-SemiBold';
    border-radius: 30px;
    position: relative;
    background-color: #fc5f45;
    color: #ffffff;
    padding: 12px 35px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home_button:hover {
    color: #fc5f45;
    background-color: #ffffff;
    border: solid 2px #fc5f45;
    transition: all .5s;
}
.features {
    margin: 0 10%;
    overflow: hidden;
}
.features_one {
    float: left;
    width: 33.3333%;
    padding: 60px 0 170px 0;
    text-align: center;
}
.fa_color-1 {
    color: #38c695;
}
.fa_color-2 {
    color: #b27cf5;
}
.fa_color-3 {
    color: #feb960;
}
.fa_color-4 {
    color: #fc5f45;
}
.features-txt {
    font-family: 'Poppins-Medium';
    font-size: 18px;
}
/*------------------------about-------------------------------*/
.about {
    width: 100%;
    padding: 150px 0 220px 0;
    background-color: #ffffff;
    position: relative;
    display: table;
}
.about_images {
    width: 100%;
    max-width: 555px;
    background-size: cover;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 0px 51px 0px #000000;
}
.heading {
    width: 55%;
    min-width: 575px;
    position: relative;
    float: right;
    margin-top: 70px;
    background-color: white;
    z-index: 12;
    box-shadow: 0px 0px 51px 0px #000000;
}
.heading_txt {
    font-family: 'LibreBaskerville-Bold';
    font-size: 50px;
    color: #313131;
    padding: 30px 80px 0 80px;
}
.heading_txt-min {
    font-family: 'Poppins-Regular';
    font-size: 15px;
    color: #616161;
    padding: 0 80px 80px 80px;
}
.line {
    width: 25%;
    height: 5px;
    float: left;
    position: relative;
}
.line_color-1 {
    background-color: #fc5f45;
}
.line_color-2 {
    background-color: #38c695;
}
.line_color-3 {
    background-color: #b27cf5;
}
.line_color-4 {
    background-color: #feb960;
}

/*-----------------------Services---------------------------------------*/
.services {
    width: 100%;
    background-color: #f9f9f9;
    position: relative;
    display: table;
    padding: 120px 0;
}
.general-container_txt-max {
    font-family: 'LibreBaskerville-Bold';
    font-size: 50px;
    text-align: center;
}
.general-container_txt-min {
    font-family: 'Poppins-Regular';
    font-size: 18px;
    text-align: center;
    margin-bottom: 100px;
}
.services_one {
    width: 23.1%;
    float: left;
    position: relative;
    display: block;
    padding: 0 10px;
}
.services_one-copy {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding-top: 50px;
    box-shadow: 0px 0px 51px 0px #000000;
}
.services_one_txt-max {
    font-family: 'Poppins-Medium';
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    color: #313131;
}
.services_one_txt-min {
    font-family: 'Poppins-Regular';
    font-size: 15px;
    color: #616161;
    padding: 0 15px 50px 15px;
}
.services_one-line {
    width: 100%;
    height: 4px;
}

/*----------------------video-bg-------------------------------------*/
.video_bg {
    width: 100%;
    background-color: #272727;
    position: relative;
    display: table;
    padding: 150px 0;
}
.video_bg_txt-max {
    font-family: 'Poppins-Regular';
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}
.video_bg_txt-min {
    font-family: 'Poppins-Regular';
    font-size: 15px;
    color: #ffffff;
    text-align: center;
}
.play {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*------------------------portfolio----------------------------------*/
.portfolio {
    width: 100%;
    background-color: #ffffff;
    position: relative;
    display: table;
    padding: 100px 0 150px 0;
}
.portfolio_ithems {
    width: 31.5%;
    height: auto;
    /*background-color: #6cc372;*/
    position: relative;
    float: left;
    display: table;
    padding: 10px 10px;
}
.portfolio_ithems-copy {
    width: 100%;
    box-shadow: 0px 0px 13px 0px #000000;
}
.portfolio_images {
    width: 100%;
}
/*-------------------------team---------------------------------------*/
.team {
    width: 100%;
    background-color: #f9f9f9;
    position: relative;
    display: table;
    padding: 100px 0 150px 0;
}
.team-container {
    width: 23.1%;
    padding: 0 10px;
    margin-bottom: 100px;
    position: relative;
    float: left;
}
.team-container-copy {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px #000000;
}
.team_images {
    width: 100%;
    height: auto;
    padding-bottom: 18px;
}
.team_txt-name {
    font-family: 'Poppins-Medium';
    font-size: 18.2px;
    text-align: center;
    margin: 0;
}
.team_txt-min {
    font-family: 'Poppins-Regular';
    font-size: 13.15px;
    text-align: center;
    color: #616161;
    margin: 0;
}
.team_line {
    width: 100%;
    height: 4px;
    margin-top: 18px;
}
.team-container-txt {
    width: 100%;
    padding: 50px 0;
    position: relative;
    display: table;
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px #000000;
}
.team-container_txt-max {
    font-family: 'Poppins-Medium';
    font-size: 20px;
    color: #272727;
    padding: 0 90px;
}
.team-container_txt-min {
    font-family: 'Poppins-Regular';
    font-size: 15px;
    color: #616161;
    width: 58%;
    position: relative;
    float: left;
    padding: 0 0 0 90px;
}
.team-container-icon {
    width: 20%;
    padding: 20px;
    position: relative;
    float: right;
}
.team_icons {
    width: 8%;
    padding: 0 7px;
}
.team_icons-txt {
    font-family: 'Poppins-Regular';
    font-size: 15px;
    color: #616161;
    margin: 0;
}
/*---------------------stats--------------------------*/
.stats {
    width: 100%;
    position: relative;
    display: table;
}
.stats_images {
    width: 100%;
    position: relative;
}
.general-container-stats {
    width: 100%;
    position: absolute;
    padding: 0 15px;
    max-width: 1140px;
    top: 50%;
    left: 50%;
    display: block;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
}
.stats_container {
    width: 23.1%;
    position: relative;
    float: left;
    padding: 0 10px;
}
.stats_container-copy {
    width: 100%;
    text-align: center;
    padding: 15px 0;
}
.stats_txt-max {
    font-family: 'Poppins-Medium';
    color: #fefefe;
    padding-top: 10px;
}
.stats_txt-min {
    font-family: 'Poppins-Regular';
    font-size: 15px;
    color: #d6d6d6;
    padding-bottom: 15px;
}
/*-----------------worksteps-------------------------------*/
.worksteps {
    width: 100%;
    position: relative;
    display: table;
    padding: 100px 0;
    background-color: #ffffff;
}
.worksteps_images {
    width: 50%;
    /*position: absolute;*/
    margin: 0 auto;
}
.step_container {
    width: 22%;
    margin: 0;
    background-color: linen;
    position: absolute;
    z-index: 373;
}
.step_txt-number {
    font-family: 'LibreBaskerville-Bold';
    font-size: 50px;
    color: #e0e0e0;
    padding: 20px 0 0 20px;
    margin: 0;
    position: relative;
    float: left;
}
.step_txt-max {
    font-family: 'Poppins-Regular';
    font-size: 25px;
    color: #272727;
    padding: 0 15px 0 110px;
    position: relative;
}
.step_txt-min {
    margin: 0 auto;
    font-family: 'Poppins-Regular';
    font-size: 15px;
    padding: 0 15px 0 110px;
    color: #616161;
}
.right {
    /*right: 0;*/
}

/*--------------Pricing---------------------*/
.pricing {
    width: 100%;
    position: relative;
    display: table;
    padding: 150px 0;
    background-color: #f9f9f9;
}
.pricing_packages {
    width: 31.5%;
    padding: 0 10px;
    /*background-color: slategray;*/
    position: relative;
    float: left;
}
.pricing_packages-copy {
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 0px #000000;
}
.pricing_line {
    width: 100%;
    height: 5px;
}
.pricing_txt-max {
    font-family: 'Poppins-Medium';
    font-size: 20px;
    color: #313131;
    text-align: center;
    padding: 10px 0;
}
.bg {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.bg-1 {
    background-color: #38c695;
    box-shadow: 0 0 0 3px #38c695;
}
.bg-2 {
    background-color: #fc5f45;
    box-shadow: 0 0 0 3px #fc5f45;
}
.bg-3 {
    background-color: #b27cf5;
    box-shadow: 0 0 0 3px #b27cf5;
}
.border-1 {
    border: solid 3px #38c695;
}
.border-2 {
    border: solid 3px #fc5f45;
}
.border-3 {
    border: solid 3px #b27cf5;
}
.border-1:hover {
    background-color: #38c695;
    color: #ffffff;
    cursor: pointer;
}
.border-2:hover {
    background-color: #fc5f45;
    color: #ffffff;
    cursor: pointer;
}
.border-3:hover {
    background-color: #b27cf5;
    color: #ffffff;
    cursor: pointer;
}
.bg_txt-min {
    font-family: 'Poppins-Regular';
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin: 16px 0 0 0;
}
.bg_txt-min-name {
    font-family: 'Poppins-Regular';
    font-size: 12px;
    margin: 0;
    color: #ffffff;
    text-align: center;
}
.pricing_txt {
    font-family: 'Poppins-Medium';
    font-size: 15px;
    color: #313131;
    text-align: center;
    padding: 25px 0;
    line-height: 3;
}
.pricing_button {
    padding: 10px 35px;
    border-radius: 25px;
    background-color: #ffffff;
    align-content: center;
    font-family: 'Poppins-SemiBold';
    font-size: 16px;
    margin: 0 auto;
    display: table;
    transition: .5s;
    box-shadow: 0px 0px 13px 0px #000000;
}
/*-----------------testimonials---------------------------*/
.testimonials {
    width: 100%;
    background-color: #272727;
    position: relative;
    display: table;
    padding: 100px 0;
}
.color-txt {
    color: #ffffff;
}
.testimonials_images {
    position: absolute;
    width: 100%;
    max-width: 399px;
    z-index: 77;
}
.testimonials_detalis {
    width: 67%;
    background-color: #ffffff;
    position: relative;
    float: right;
    margin: 40px 0;
    /*z-index: 2;*/
}
.testimonials-txt {
    font-family: 'Poppins-Regular';
    font-size: 15px;
    color: #616161;
    padding: 20px 80px;
}
.testimonials_txt-ps {
    font-family: 'Sacramento-Regular';
    font-size: 40px;
    color: #272727;
    font-weight: bold;
    padding: 0 80px;
    margin: 0;
}
.testimonials_txt-name {
    font-family: 'Poppins-Medium';
    font-size: 18px;
    color: #272727;
    padding: 0 80px;
    margin: 0;
}
.testimonials_txt-min {
    font-family: 'Poppins-Regular';
    font-size: 13px;
    color: #fc5f45;
    padding: 0 80px 25px 80px;
    margin: 0;
}
/*--------------select--------------------*/
.select {
    width: 100%;
    background-color: #ffffff;
    position: relative;
    display: table;
    padding: 100px 0;
}
.select_container {
    width: 31.5%;
    position: relative;
    float: left;
    padding: 20px 10px;
    /*background-color: cornsilk;*/
}
.select_container-copy {
    width: 100%;
    background-color: #ffffff;
}
.select_txt {
    font-family: 'Poppins-Regular';
    font-size: 25px;
    color: #272727;
    text-align: center;
    font-weight: bold;
}
.select_button {
    padding: 10px 35px;
    border-radius: 25px;
    background-color: #fc5f45;
    color: #ffffff;
    align-content: center;
    font-family: 'Poppins-SemiBold';
    font-size: 16px;
    margin: 100px 0 0 25px;
    transition: .5s;
    cursor: pointer;
    box-shadow: 0px 0px 13px 0px #000000;
}
.select_button:hover {
    color: #fc5f45;
    background-color: #ffffff;
}
.select_txt-max {
    font-family: 'Poppins-Medium';
    font-weight: bold;
    line-height: 1.4;
    font-size: 18px;
    color: #272727;
    position: relative;
    margin: 0;
    padding: 15px 0;
}
.select_icons {
    padding: 15px;
    position: relative;
    float: left;
}
.select_txt-min {
    font-family: 'Poppins-Regular';
    font-size: 15px;
    color: #616161;
    margin: 10px 15px;
}
/*---------------Blog-------------------------*/
.blog {
    width: 100%;
    background-color: #f9f9f9;
    position: relative;
    display: table;
    padding: 100px 0;
}
.blog_image {
    width: 100%;
    height: 100%;
    max-width: 555px;
    max-height: 443px;
}
.featured_image {
    width: 49%;
    background-color: #ffffff;
    position: relative;
    float: left;
    box-shadow: 0px 0px 13px 0px #000000;
}
.blog_txt {
    font-family: 'Poppins-Medium';
    font-size: 20px;
    color: #272727;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0 0 0;
    line-height: 2;
}
.blog_txt-min {
    font-family: 'Poppins-Regular';
    font-size: 15px;
    color: #616161;
    width: 87%;
    margin: 0 auto;
    /*line-height: 2;*/
    padding: 25px 0 35px 0;
}
.line-h {
    line-height: 2;
}
.blog_txt-color {
    font-family: 'Poppins-Medium';
    font-weight: bold;
    cursor: pointer;
}
.single_post {
    width: 49%;
    background-color: #ffffff;
    position: relative;
    float: right;
    margin: 0 0 25px 0;
    box-shadow: 0px 0px 13px 0px #000000;
}
.blog_txt-author {
    font-family: 'Poppins-Medium';
    font-size: 15px;
    position: relative;
    float: left;
    padding: 10px 35px 0 35px;
}
.blog_txt-date {
    font-family: 'Poppins-Regular';
    font-size: 13px;
    color: #616161;
    padding: 13px 10px 0 35px;
}
.blog_txt-article {
    font-family: 'Poppins-Medium';
    font-size: 18px;
    color: #272727;
    font-weight: bold;
    position: relative;
    float: left;
    width: 90%;
    padding: 0 35px 10px 35px;
    margin: 0;
}
.subscription {
    width: 100%;
    background-color: #ffffff;
    position: relative;
    display: table;
    padding: 100px 0;
}
.subscription_txt {
    font-family: 'Poppins-Regular';
    font-size: 30px;
    color: #272727;
    text-align: center;
}
.subscription_form {
    margin: 0 auto;
    display: table;
}
.email_txt {
    padding: 10px 100px 10px 15px;
    border-radius: 20px 0 0 20px;
    margin: 0 auto;
    position: relative;
    display: block;
    float: left;
}
.subscription-button {
    padding: 12px 20px;
    color: #ffffff;
    border-radius: 0px 20px 20px 0;
    position: relative;
    transition: all .5s;
    cursor: pointer;
    font-weight: bold;
}
.subscription-button:hover {
    color: #fc5f45;
    background-color: #ffffff;
}
/*------------------------contact------------------------------*/
.contact {
    width: 100%;
    background-color: #9d9d9d;
    position: relative;
    display: table;
    padding: 100px 0;
}
.contact_form {
    width: 80%;
    margin: 0 auto;
}
.contact_form-copy {
    width: 47%;
    text-align: center;
    padding: 10px 0;
    margin: 15px 0;
}
.contact_form-copy-v {
    width: 100%;
    padding: 10px 0 200px 0;
    text-align: center;
    margin: 15px 0;
}
.contact_button {
    margin: 35px auto 120px auto;
    display: block;
    padding: 10px 35px;
    border-radius: 25px;
    background-color: #fc5f45;
    color: #ffffff;
    align-content: center;
    font-family: 'Poppins-SemiBold';
    font-size: 16px;
    transition: .5s;
    cursor: pointer;
    box-shadow: 0px 0px 13px 0px #000000;
}
.contact_button:hover {
    color: #fc5f45;
    background-color: #ffffff;
}
.contact-column {
    width: 25%;
    position: relative;
    float: left;
    background-color: #272727;
}
.contact_logo-1 {
    font-family: 'Nautilus';
    font-size: 50px;
    color: #fc5f45;
    text-align: center;
    padding: 3px 0;
}
.contact_logo-2 {
    color: #ffffff;
}
.contact_form_txt-max {
    font-family: 'Poppins-Medium';
    font-size: 15px;
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}
.contact_form_txt-min {
    font-family: 'Poppins-Regular';
    font-size: 13px;
    color: #ffffff;
    width: 80%;
    margin: 0 auto;
    padding: 25px 0 40px 0;
}
.icons_color {
    padding: 28px 2px 50px 2px;
    color: #ffffff;
}
.contact_icons {
    width: 80%;
    margin: 0 auto;
}
/*------------------------responsiv------------------------------------*/

@media screen and (max-width:850px) {
    nav ul li {
        display: block !important;
        border-top: 1px #fc5f45 solid;
        float: left;
        text-align: center;
    }

    nav ul {
        display: none;
    }

    .open-close-menu {
        display: block;
        float: right;
    }

    .strip {
        width: 45px;
        height: 2px;
        background-color: #fc5f45;
        margin: 10px 0;
    }
    .top-menu ul li {
        padding: 10px 10px;
        border-bottom: solid 2px #fc5f45;
        width: 90%;
    }

    .tpo-menu ul li a {
        font-size: 18px;
    }
}